@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
body {
    font-family: 'DM Sans', sans-serif !important;
}
.wrapper{
    max-width: 650px;
    margin: 0 auto;
}

a {
    color: black !important ;
    background-color: #fbfaf6  !important;
}

a:hover  {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

p:hover, h1:hover  {
    background-color: black !important;
    color: white !important;
}

.modal-dialog {
    max-width: 800px !important;
}

.modal-body {
    height: 800px !important;
}

.tooltip-inner {
    max-width: 400px !important;
    text-align: justify !important;
    background-color: #fbfaf6 !important;
    border: 1px solid #737373 !important;
}


.div-blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
  }
