@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
body {
    font-family: 'DM Sans', sans-serif !important;
}
.wrapper{
    max-width: 650px;
    margin: 0 auto;
}

a {
    color: black !important ;
    background-color: #fbfaf6  !important;
}
/* p:hover, h1:hover, */
a:hover  {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

.modal-dialog {
    max-width: 800px !important;
}

.modal-body {
    height: 800px !important;
}

.tooltip-inner {
    max-width: 400px !important;
    text-align: justify !important;
}