@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
body {
    font-family: 'DM Sans', sans-serif !important;
    /*background-color: #fbfaf6 !important; */
    background-color: rgb(245, 245, 245) !important;
}

.wrapper{
    max-width: 650px;
    margin: 0 auto;
}

.section  {
    margin-top: 40px !important;
}

.experience-tab {
    color:rgb(50, 48, 48); 
    font-size:13px; 
    border-left-color: rgb(0, 0, 0); 
    border-left-width: 10px;
    padding-left: 10px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-style: solid;
}

a {
    color: black !important ;
    background-color: rgb(245, 245, 245)  !important;
}

a:hover{
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

.navigation-tab {
    background-color:transparent !important;
}

.navigation-tab-black {
    background-color:black !important;
}


/* MODAL CSS */
.modal-dialog {
    max-width: 800px !important;
}

.modal-body {
    height: 800px !important;
}

/* TOOLTIP CSS */

.tooltip-inner {
    max-width: 300px !important;
    text-align: left !important;
    background-color: black !important;
    /*border: 1px solid #737373 !important;*/
}

/* BLUR CSS */
.div-blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}

.project-tab {
    color:rgb(50, 48, 48); 
    font-size:15px;
}